body {
    color: white;
    background-color: #000000;
}
img {
    /*width: 500px;*/
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(10px 10px 10px #222);
}
.navbar li {
    cursor: pointer;
}
#app {
    background-image: url('../imgs/lasz-bg.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-color: black;
    background-attachment: fixed;
}
.row {
    --bs-gutter-x: 0rem;
}
.bottom-container a {
    text-decoration: unset;

}
.banner {
background-color: rgb(35, 31, 32);
}
.card {
    /* border: 1px solid rgb(0, 0, 0); */
    min-height: 300px;
}
.card-header {
    color: yellow;
}
.content-box {
    padding: 50px;
}

.footer {
    background-color: rgb(35, 31, 32);
    max-width: 100%;
}
.navbar {
    font-family: 'inversionzregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 2rem;
    background-color: #000000;
}
.list-group-item {
    background-color: rgb(0,0,0,0);
}
.scrolled {
    background-color: black;
}
.dropdown-menu {
    font-size: 1.5rem;
    background-color: #b6b6b6;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:#eed330;
}
.navbar-dark .navbar-nav .nav-link:active {
    color:#958525;
}
.navbar ul {
    color: #000000;
}

.navbar.scrolled {
    background-color: #000000;
    transition: background 100ms;
}
.navbar-brand {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logininput {
    margin-bottom: 1rem;
    background-color: #000;
}
.logininput input {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 10px 15;
    text-indent: 15px;
    border: 1;
}
.bottom-container ul {
    list-style: none;
    display: inline-block; 
	text-align: left; 
}
.bottom-container li {
    font-size: 12px;
    color: #5a5a5a;
}
.bg-primary {
    background-color: rgb(35, 31, 32) !important;
}
.filler-space {
    min-height: 16rem;
}
#no-account {
    font-size: 12px;
    padding-left: 5px;
}
#blackBar {
    background: #000;
    min-height: 5rem;
}
#nav-home {
    padding-left: 29px;
}
#loginBar  {
    background-color: #000;
    font-family: 'inversionzregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}
.buttonStyle {
    border-radius: 25px;
    display: inline-block;
    padding: 0px 25px;
    text-decoration: none;
    margin-top: 0.5em;
    border: 0;
}
button {
    transition-duration: 0.8s;
    border-radius: 25px;
    display: inline-block;
    padding: 0px 25px;
    text-decoration: none;
    margin-top: 0.5em;
    border: 0;
}
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
#no-account a {
    color: yellow;
    cursor: pointer;
}
#no-account a:hover {
    text-decoration: underline;
}
.full-screen-register {
    position: absolute;
    left: 0;
    right: 0;
    top: 0x;
    min-height: 264px;
    background: rgba(0,0,0,0.98);
    z-index: 0;
}
.full-screen-basket {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 264px;
    background: rgba(0,0,0,0.98);
    z-index: 0  ;
}
.flex-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
  
.full-screen{
    color: white;
    z-index: 1;
}
  
.hidden {
    display: none;
} 

.card-columns {
    display: inline-block;
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
  }

@media (min-width: 576px) {
    .card-deck .card {
        min-width: 50.1%; /* 1 Column */
        margin-bottom: 12px;
    }
}
@media (min-width: 768px) {
    .card-deck .card {
        min-width: 33.4%;  /* 2 Columns */
    }
}
@media (min-width: 1200px) {
    .card-deck .card {
        min-width: 33.4%;  /* 3 Columns */
    }
}
@font-face {
    font-family: 'inversionzregular';
    src: url('inversionz-webfont.woff2') format('woff2'),
         url('inversionz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Popup box BEGIN */

/* Popup box BEGIN */
